.project_container{
    display:  flex;
    flex-direction: column;
     gap: 20px;
     background-color: black;
 
     background-size: cover;
 background-position: center;
 object-fit: cover;
  
}


.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.All_project{
    display: flex;
      flex-wrap: wrap;
      align-items: center;
   
     
      justify-content: center;
      align-items: center;

}



.projects-ecommerce{
    padding: 10px;
  display: flex;
  width: 380px;;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
align-items: center;
  margin: 30px;
  height: 440px;
  background-color: rgb(134, 6, 214);
 



}

.project-photo{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.project-photo img{
    width: 350px;
    height: 200px;
  
}



.project-detail{

  width: 100%;
 

   
}

.project-detail p{
    word-wrap: break-word; 
}


.project-download{

display: flex;
justify-content: space-between;

width: 100%;

}





@media  (max-width : 768px){
    .project_container{
        width: 100%;
    }

    .projects-ecommerce{
        height: 300px;
        width: 330px;

    }

    
.project-photo img{
    width: 330px;
    height: 120px;
  
}

.project-detail{
    display: flex;
    flex-direction: column;
 justify-content: center;
 flex-wrap: wrap;


   width: 300px;
   text-align: center;
  
}


}